body {
  background: #e9e9e9;
}

/* Header + elements */
.flex-header {
  background-color: #000000;
  margin: 20px;
  padding: 8px;
  display: flex;
  flex-flow: column wrap;
}

.menu {
  margin: 8px;
  background-color: #2d4059;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.menu .element {
  background-color: #ea5455;
  margin: 20px;
  text-align: center;
  flex-grow: 1;
}

.menu .element2 {
  background-color: #ea5455;
  margin: 20px;
  text-align: center;
  flex-grow: 2;
}

.hero {
  margin: 8px;
  background-color: #f07b3f;
}

.hero .element {
  margin: 20px;
  background-color: #fed460;
}

/* Article + elements */
.flex-article {
  background-color: #000000;
  margin: 20px;
  padding: 8px;
  display: flex;
}

.articles {
  margin: 8px;
  padding: 10px;
  background-color: #4e4e6a;
  flex-grow: 2;
  display: flex;
  flex-wrap: wrap;
}

.articles .element {
  margin: 10px;
  height: 20px;
  background-color: #1f6cb0;
  flex: 47%;
}
.articles .disclaimer {
  margin: 10px;
  height: 20px;
  background-color: #70a3c4;
  flex-grow: 1;
}

.sidebar {
  margin: 8px;
  background-color: #f73f52;
  flex-grow: 1;
}

.sidebar .element {
  margin: 20px;
  background-color: #feea85;
}

/* Footer */
.flex-footer {
  background-color: #000000;
  margin: 20px;
  padding: 8px;
  display: flex;
}

.footer {
  margin: 8px;
  background-color: #e6af2e;
  text-align: center;
  flex-grow: 1;
}

/* iPad iOS 14_7_1 */
@media only screen and (max-width: 992px) {
  .flex-article {
    flex-flow: column wrap;
  }
  .articles .element {
    margin: 10px 10px 0px 10px;
  }
  .articles .disclaimer {
    margin: 10px 10px 0px 10px;
  }
}

/* iPhone iOS 14_6 */
@media only screen and (max-width: 600px) {
  .menu {
    flex-flow: column wrap;
  }

  .menu .element2 {
    margin: 0px 20px;
  }

  .flex-article {
    flex-flow: column wrap;
  }

  .articles .element {
    margin: 10px;
    flex: 100%;
  }
  .articles .disclaimer {
    margin: 10px;
  }
}
